@import "~@bexio/common/styles/variables/variables";
@import "~@bexio/common/styles/placeholders/typography.placeholder";

$list-font-family: $typo-font-base-family;
$list-font-size: $typo-font-base-size;
$list-font-weight: $typo-font-base-weight;
$list-line-height: $typo-font-base-line-height;
$list-color: $color-character-secondary-light;

ul > li {
    line-height: $list-line-height;
    color: $list-color;
    font-family: $list-font-family;
    font-size: $list-font-size;
    font-weight: $list-font-weight;
}
