@import "~@bexio/common/styles/variables/variables";
@import "~@bexio/common/styles/placeholders/typography.placeholder";
@import "~@bexio/common/styles/mixins/shadow.mixin";

$toast-container-width: 94rem;
$toast-container-position-left: 50%;
$toast-container-left-margin: -$toast-container-width / 2;
$toast-color: $color-typ-special;
$toast-color-error: #c81919;
$toast-text-opacity: 0.3;
$toast-width: 100%;
$toast-padding: 15px;
$toast-close-button-margin-left: 16px;

%toast {
    left: $toast-container-position-left;
    margin-left: $toast-container-left-margin;
    width: $toast-container-width;

    .toast {
        @include mix-shadow(1, null);
        // sass-lint:disable no-important
        background-image: none !important;
        padding: $toast-padding;
        width: $toast-width;
        line-height: $typo-font-base-line-height;
        color: $toast-color;
        font-family: $typo-font-base-family;
        font-size: $typo-font-base-size;
        font-weight: $typo-font-base-weight;
        box-sizing: border-box;

        &.toast-error {
            background-color: $toast-color-error;
        }
    }

    .toast-message {
        text-align: center;
    }

    .toast-title {
        float: right;
        opacity: $toast-text-opacity;
    }

    .toast-close-button {
        top: 0;
        right: 0;
        opacity: $toast-text-opacity;
        margin-left: $toast-close-button-margin-left;
        text-shadow: none;
        font-size: $typo-font-base-size;
    }
}
